.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appifySection{
  margin-top: 48px;
}
.appifyForm{
  max-width: 350px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  padding: 24px;
}
.appifySection .form-group{
  margin-bottom: 16px;
  position: relative;
}
.appifySection .form-group input{
  background-color: #fff;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
}
.appifySection .form-group ul{
  margin: 0px;
  padding: 0px;
  border: 1px solid #ddd;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
}
.appifySection .form-group ul li{
  list-style-type: none;
  padding: 4px 16px;
  cursor: pointer;
}
.appifySection .form-group ul li:hover{
  background-color: #f4f4f4;
}
.appifySection .form-check{
  margin-bottom: 16px;
}
.appifySection .form-check input{
  box-shadow: none;
  outline: none;
}

